static const TRAFFIC_LIGHTS = ["red", "orange", "green"]
let/lightIndex=0
const/light=TRAFFIC_LIGHTS[lightIndex]

button onClick() { 
	lightIndex = (lightIndex + 1) % TRAFFIC_LIGHTS.length
}
	-- Next light
p 
	-- Light is ${light}
p
	-- You must&nbsp
	if     =light === "red"    -- STOP
	else-if=light === "orange" -- SLOW DOWN
	else                       -- GO

ul
	for|color| of=TRAFFIC_LIGHTS
		li
			-- ${color}
