$ const personPromise = new Promise<{name:string}>((resolve) => {
  setTimeout(() => resolve({ name: "World" }), 1000);
});

client-await from=personPromise
  @placeholder
    <!-- Displays while promise is pending -->
    label
      -- Loading…
      progress

  @then|person|
    <!-- Displays if promise resolves -->
    p -- Hello ${person.name}!

  @catch|err|
    -- <!-- Displays if promise rejects -->${err.name} error: ${err.message}